<ng-container (window:resize)="onResize($event)">
    <!--toolbar-->
    <mat-toolbar color="primary" class="admin-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="app-title">&nbsp; {{title}}</span>
            <div class="uk-width-expand"></div>
            <div *ngIf="screenWidth > 600" id="circle" class="uk-text-center uk-text-middle">{{userData.username.charAt(0).toUpperCase()}}</div>&nbsp;
            <small *ngIf="screenWidth > 600" class="username">{{userData.username}}</small>&nbsp;
    
    </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="admin-container">
        <mat-sidenav 
            #sidenav 
            [position]="'start'" 
            [opened]="screenWidth > 840" 
            [mode]="screenWidth > 840 ? 'side' : 'over'"
            [fixedTopGap]="screenWidth > 840 ? 65 : 56"
            class="sidenav-left"
            [fixedInViewport]="true" 
            [fixedBottomGap]="0">
        
            <mat-nav-list>
                <mat-list-item *ngFor="let item of navList" (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink={{item.link}}>
                    <mat-icon matListIcon>{{item.icon}}</mat-icon>
                    <h3 matLine>{{item.title}}</h3>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-nav-list>
                    <mat-list-item (click)="doLogout()">
                        <mat-icon matListIcon>logout</mat-icon>
                        <h3 matLine>Logout</h3>
                    </mat-list-item>
                </mat-nav-list>
            </mat-nav-list>

        </mat-sidenav>
    
        <!-- <mat-sidenav 
            #sidenav mode="side"
            style="color: aqua;"
            [position]="'end'" 
            class="example-sidenav"
            [fixedInViewport]="true" 
            [fixedTopGap]="60"
            [fixedBottomGap]="0">
        </mat-sidenav> -->
        <!--sidenav content-->
        <mat-sidenav-content style="padding: 20px; background-color: #EFEFEF;">
        <!--halaman-halaman tampil disini-->
            <div class="uk-height-viewport">  
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
</ng-container>
