table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.mat-row:hover {
    background-color: #FBFBFB;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.mat-header-cell:first-child,.mat-cell:first-child{
    flex: 0 0 5%;
    min-width: 25px;
    max-width: 60px;
}

.mat-header-cell:last-child,.mat-cell:last-child{
    flex: 0 0 5%;
    min-width: 80px;
}